html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map-canvas {
    height:50%;
}
#controls-canvas {
    overflow: scroll;
    max-height: 50%;
}

.add-locations-textarea {
    width:100%;
    height:200px;
}

.ajaxLoader {
    width: 100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}